{% extends 'home/homebase.html' %}
{% load static %}

{% block title %} Güncelle | {{user.username}}{% endblock title%}

{% block header %} {% include 'home/header.html' %} {% endblock %}

{% block content %}
<div class="container" style="margin-top:10%">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{user.userprofile.image.url}}" alt="Admin" class="rounded-circle" width="150">
                    </div>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="list-group" >
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">Kullanıcı Bilgileri</a>
                    <a href="{% url 'user_update' %}" class="list-group-item list-group-item-action">Bilgileri Güncelle</a>
                    <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action">Şifreyi Değiştir</a>
                    <a href="{% url 'comments' %}" class="list-group-item list-group-item-action">Yorumlarım</a>
                    <a href="#" class="list-group-item list-group-item-action">Favorilerim</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Profile Info</h5>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <div class="form-group mt-4">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include 'home/footer.html' %}{% endblock %}
