{% load static %}

  <!-- ***** Ana Banner Alanı Başlangıcı ***** -->
  <div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>Biz Hexashop'uz</h4>
                            <span>SINCE 1974</span>
                            <div class="main-border-button">
                                <a href="#">Şimdi Satın Al!</a>
                            </div>
                        </div>
                        <img src="{% static 'home/images/left-banner-image.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kadınlar</h4>
                                        <span>Kadınlar İçin En İyi Kıyafetler</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kadınlar</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Daha Fazlasını Keşfet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'home/images/baner-right-image-01.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Erkekler</h4>
                                        <span>Erkekler İçin En İyi Kıyafetler</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Erkekler</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Daha Fazlasını Keşfet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'home/images/baner-right-image-02.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Çocuklar</h4>
                                        <span>Çocuklar İçin En İyi Kıyafetler</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Çocuklar</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Daha Fazlasını Keşfet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'home/images/baner-right-image-03.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Aksesuarlar</h4>
                                        <span>En İyi Trend Aksesuarlar</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Aksesuarlar</h4>
                                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                            <div class="main-border-button">
                                                <a href="#">Daha Fazlasını Keşfet</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'home/images/baner-right-image-04.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Ana Banner Alanı Sonu ***** -->
