{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="first-item">
                    <div class="logo">
                        <img src="{% static 'home/images/white-logo.png' %}" alt="hexashop e-ticaret şablonu">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, Amerika Birleşik Devletleri</a></li>
                        <li><a href="#">hexashop@sirket.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Faydalı Bağlantılar</h4>
                <ul>
                    <li><a href="#">Anasayfa</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Bizimle İletişime Geçin</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Telif Hakkı © 2022 HexaShop AŞ. Tüm Hakları Saklıdır.
                    
                    <br>Tasarım: <a href="https://templatemo.com" target="_parent" title="ücretsiz css şablonları">TemplateMo</a></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
