{% load static %}

{% block  extra_link%}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock  %}

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'home/images/logo.png' %}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{% url 'index' %}" class="active">Anasayfa</a></li>
                        <li class="scroll-to-section"><a href="#men">Erkek</a></li>
                        <li class="scroll-to-section"><a href="#women">Kadın</a></li>
                        <li class="scroll-to-section"><a href="#kids">Çocuk</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                                <li><a href="{% url 'urunler' %}">Ürünler</a></li>
                                <li><a href="{% url 'referances' %}">Referanslar</a></li>
                                <li><a href="{% url 'iletisim' %}">İletisim</a></li>
                            </ul>
                        {% if user.id is not None %}
                        <li class="scroll-to-section"> <strong><a href="/user/">{{user.username}}</a></strong></p></li>
                        <li class="scroll-to-section"><a href="/logout/"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                        {% else %}
                        <li class="scroll-to-section"><a href="{% url 'login' %}"><i class="fa-regular fa-user" style="font-size:20px"></i></a></li>
                        <li class="scroll-to-section"><a href="{% url 'signup' %}"><i class="fa-solid fa-user-plus" style="font-size:20px"></i></a></li>
                        {% endif %}
                        </li>
                        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>