{% extends 'home/homebase.html' %}
{% load static %}




{% block title %} İletişim | {{ setting.title }}{% endblock title%}




{% block header %} {% include 'home/header.html' %} {% endblock %}

{% block content %}
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Bizimle İletişime Geç</h2>
                    <span>Awesome, clean &amp; creative HTML5 Template</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="map" style="margin-top:60px;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90186.37207676383!2d-80.13495239500924!3d25.9317678710111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ad1877e4a82d%3A0xa891714787d1fb5e!2sPier%20Park!5e1!3m2!1sen!2sth!4v1637512439384!5m2!1sen!2sth" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>İletişime Geç!</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
                {%if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                <form id="contact" action="" method="post">

                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" value="Send Message" class="btn btn-primary" style="margin-top:30px;">

                  </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->



{% endblock %}

{% block footer %}{% include 'home/footer.html' %}{% endblock %}
