{% extends 'home/homebase.html' %}
{% load static %}




{% block title %} {{ setting.title }}{% endblock title%}




{% block header %} {% include 'home/header.html' %} {% endblock %}

{% block content %}
    {% include 'home/banner.html' %}
          <!-- ***** Main Banner Area End ***** -->
          <link rel="stylesheet" href="{% static 'home/css/search.css' %}">
          <div class="center-content">
              <form action="/search/" method="post">
                  {% csrf_token %}
                  <input id="query" name="query" type="text" placeholder="Search...">
                  <button type="submit">Search</button>
              </form>
          </div>

          <script>

              $(function() {
                $("#query").autocomplete({
                  source: "/search_auto/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });
            
              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
            
            </script>

    {% include 'home/latest.html' %}
{% endblock %}

{% block footer %}{% include 'home/footer.html' %}{% endblock %}
