{% extends 'home/homebase.html' %}
{% load static %}




{% block title %} {{ setting.title }}{% endblock title%}




{% block header %} {% include 'home/header.html' %} {% endblock %}

{% block content %}
    {% include 'home/banner.html' %}
          <!-- ***** Main Banner Area End ***** -->


            <form action="/search/" method="post">
                {% csrf_token %}
                <div class="input-group rounded col-md-3 " style="margin-left:43rem; margin-top:2rem;">
                  <input type="text" id="query" name="query "class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                  <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                  </span>
                </div>

               
            </form>



         
          
          

          <script>

              $(function() {
                $("#query").autocomplete({
                  source: "/search_auto/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });
            
              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
            
            </script>

    {% include 'home/latest.html' %}
{% endblock %}

{% block footer %}{% include 'home/footer.html' %}{% endblock %}
