     {% load static %}
     
     <!-- ***** Men Area Starts ***** -->
     <div class="container">
        <div class="row">
            <div class="col-lg-6" style="margin-left:24%">
        {%if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    </div>
</div>
</div>

      <section class="section" id="men">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Erkeklerde Son Eklenenler</h2>
                        <span>Hexashop'u diğer temalardan farklı kılan şey detaylara verilen önemdir.</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for men in slider_man %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content" >
                                        <ul>
                                            <li><a href="/urunler/{{men.id}}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="/urunler/{{men.id}}"><i class="fa fa-star"></i></a></li>
                                            <li><a href="/order/addtocard/{{men.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{men.image.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{men.title}}</h4>
                                    <span>{{men.price}}₺</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->

    <!-- ***** Women Area Starts ***** -->
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Kadınlarda Son Eklenenler</h2>
                        <span>Hexashop'u diğer temalardan farklı kılan şey detaylara verilen önemdir.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                            {% for women in slider_women%}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/urunler/{{women.id}}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="/urunler/{{women.id}}"><i class="fa fa-star"></i></a></li>
                                            <li><a href="/order/addtocard/{{women.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{women.image.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{women.title}}</h4>
                                    <span>{{women.price}}₺</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Women Area Ends ***** -->

    <!-- ***** Kids Area Starts ***** -->
    <section class="section" id="kids">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Çocuklarda Son Eklenenler</h2>
                        <span>Hexashop'u diğer temalardan farklı kılan şey detaylara verilen önemdir.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="kid-item-carousel">
                        <div class="owl-kid-item owl-carousel">
                            {% for kid in slider_kid%}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/urunler/{{kid.id}}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="/urunler/{{kid.id}}"><i class="fa fa-star"></i></a></li>
                                            <li><a href="/order/addtocard/{{kid.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{kid.image.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>{{kid.title}}</h4>
                                    <span>{{kid.price}}₺</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Kids Area Ends ***** -->