{% extends 'home/homebase.html' %}
{% load static %}




{% block title %} Ürünlerimiz | {{ setting.title }}{% endblock title%}




{% block header %} {% include 'home/header.html' %} {% endblock %}

{% block content %}
        <!-- ***** Main Banner Area Start ***** -->
        <div class="page-heading" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-content">
                            <h2>Ürünlerimize Göz Atın</h2>
                            <span>Design By &amp; Emirhan Erol</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
      <!-- ***** Main Banner Area End ***** -->
      <form action="/search/" method="post">
        {% csrf_token %}
        <div class="input-group rounded col-md-3 " style="margin-left:43rem; margin-top:2rem;">
          <input type="text" id="query" name="query "class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>

       
    </form>

      <script>

          $(function() {
            $("#query").autocomplete({
              source: "/search_auto/",
              select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
              },
              minLength: 2,
            });
          });
        
          function AutoCompleteSelectHandler(event, ui)
          {
            var selectedObj = ui.item;
          }
        
        </script>


    
    
        <!-- ***** Products Area Starts ***** -->
        <section class="section" id="products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>Son Eklenen Ürünlerimiz</h2>
                            <span>Ürünlerimiz</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" >
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6" style="margin-left:24%">
                        {%if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                        {% endif %}
                    </div>
                </div>
                </div>

                    {% for urun in urunler %}
                    <div class="col-lg-4" >
                        <div class="item" >
                            <div class="thumb" >
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/urunler/{{urun.id}}"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/urunler/{{urun.id}}"><i class="fa fa-star"></i></a></li>
                                        <li><a href="/order/addtocard/{{urun.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="{{urun.image.url}}" alt="">
                            </div>
                            <div class="down-content">
                                <h4>{{urun.title}}</h4>
                                <span>{{urun.price}}₺</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
                
{% endblock %}

{% block footer %}{% include 'home/footer.html' %}{% endblock %}